 #map_canvas {
  	height: 70%;
    
    width: 100%;
    
  }

 #school_canvas {
  	height: 100%;
    
    width: 100%;
    
  }
  
  @import url(http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb); 
#donationCondition{
	background-color : #DADADA;
	text-align : center;
	font-weight:bold;
	font-family: NanumGothicWeb;
}
  